#root {
  --main-bg-color: #090c0a;
  --main-content-color: #00ffff;
  --second-content-color: #ffe0c9;
  --second-bg-color: #090c08;
  --third-bg-color: #867c6d;
  --white: #ffffff;

  width: 100%;
  min-height: 100vh; 
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--main-bg-color);
  color: var(--white);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-color);
  z-index: -1;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #090c0a;
  color: var(--main-content-color);
  font-family: "Gantari", sans-serif;
  overflow-x: hidden; 
}

.main-container {
}

ul {
  background-color: var(--second-bg-color);
  border-radius: 10vh;
  -webkit-box-shadow: 0px 0px 10px 0px var(--main-content-color);
  -moz-box-shadow: 0px 0px 15px 0px var(--main-content-color);
  box-shadow: 0px 0px 15px 0px var(--main-content-color);
  padding: 20px;
}

li {
  width: auto;
  padding: 5px;
  text-align: center;
  color: var(--main-content-color);
  cursor: pointer;
}

li:hover {
  -webkit-box-shadow: 0px 0px 14px -16px var(--main-content-color);
  -moz-box-shadow: 0px 0px 14px -16px var(--main-content-color);
  box-shadow: 0px 0px 14px -16px var(--main-content-color);
}
